.form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.navigation {
    display: none;
    margin-bottom: 20px;
}

#btnHide {
    margin-bottom: 20px;
}

.comment {
    margin-bottom: 20px;
}

/*Carusel*/

.carusel {
    position: relative;
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
}

.sl {
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 1s;
    object-fit: cover;
    z-index: 0;
}

.z-index {
    z-index: 1;
}

#btnPrev, #btnNext {
    padding: 5px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    opacity: 0.2;
    background-color: honeydew;
    transition: all ease 1s;
    z-index: 2;
}

#btnPrev {
    left: 0;
}

#btnNext {
    right: 0;
}

#btnPrev:hover, #btnNext:hover {
    opacity: 0.7;
}

.dots {
    position: absolute;
    top: 104%;
    left: 35vw;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: 0.2;
}

.dot:hover {
    opacity: 0.5;
}

.activeDot {
    opacity: 1;
}


